
html, body, #root, .input-container {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-color: #333333;
}

textarea {
  width: 45%;
  height: 100%;
  border: none;
  border-right: 1px solid cornflowerblue;
  padding: 20px 20px 20px 0;
}

textarea:focus {
  outline: 0;
}

input[type="text"], textarea {
  background-color: #333333;
  color: lightgrey;
  font-size: 12px;
}

.input-container {
  display: flex;
  justify-content: space-around;
}

.render-container {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.render-preview {
  //outline: solid black 1px;
  color: lightgrey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 550px;
}
