
html, body, #root, .input-container {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', san-serif;
}

body {
  background-color: #333333;
}

h1, h2, h3, h4 {
  margin: 15px auto 15px auto;
}

p {
  margin-bottom: 10px;
  margin-top: 10px;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
}

ul code, p code {
  padding: 0.2em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(129,136,150,.2);
  border-radius: 3px;
}

textarea {
  width: 45%;
  height: 100%;
  border: none;
  border-right: 2px solid darkseagreen;
  padding: 20px;
  box-sizing: border-box;
}

textarea:focus {
  outline: 0;
}

input[type="text"], textarea {
  background-color: #333333;
  color: lightgrey;
  font-size: 18px;
}

.input-container {
  display: flex;
  justify-content: space-around;
}

.render-container {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.render-preview {
  //outline: solid black 1px;
  color: lightgrey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 550px;
  font-size: 24px;
}

.present-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: lightgrey;
}

.present-slide {
  margin-left: auto;
  margin-right: auto;
  min-width: 40%;;
  max-width: 70%;
}

pre {
  font-family: monospace;
  font-size: 18px;
}

.present-progress {
  position: absolute;
  bottom: 0;
  height: 5px;
  background-color: darkseagreen;
}



