html, body, #root, .input-container {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', san-serif;
}

body {
  background-color: #333333;
}

h1, h2, h3, h4 {
  margin: 15px auto 30px auto;
}

p {
  margin-bottom: 10px;
  margin-top: 10px;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
}

ul code, p code, pre {
  padding: 0.2em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(129,136,150,.2);
  border-radius: 3px;
}

textarea {
  width: 50%;
  max-height: 100%;
  overflow-y: scroll;
  border: none;
  border-right: 2px solid darkseagreen;
  padding: 20px;
  margin-top: 30px;
  box-sizing: border-box;
  resize: none;
}

textarea:focus {
  outline: 0;
}

input[type="text"], textarea {
  background-color: #333333;
  color: lightgrey;
  font-size: 18px;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 30px;
  background-color: rgba(105,105,105, .7);
  border-right: 2px solid darkseagreen;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

img {
  max-width: 100%;
}

div.header {
  display: inline;
}

.fa-trash-o, div.header {
  margin: 0 20px;
}

.fa-trash-o:hover, div.header:hover {
  color: lightgrey;
  cursor: pointer;
}

.input-container {
  display: flex;
  justify-content: space-around;
}

.render-container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding: 40px;
}

.render-preview {
  color: lightgrey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 550px;
  font-size: 24px;
}

.present-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: lightgrey;
}

.present-slide, .present-replace-container {
  margin-left: auto;
  margin-right: auto;
}

.present-replace-container {
  min-width: 40%;
  max-width: 50%;
}

.present-replace-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

pre {
  font-family: monospace;
  font-size: 18px;
  margin: 15px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.progressbar-progress {
  position: absolute;
  bottom: 0;
  height: 5px;
  background-color: darkseagreen;
}

.fade-wait-leave {
  opacity: 1;
}

.fade-wait-leave.fade-wait-leave-active {
  opacity: 0;
  transition: opacity .3s ease-in;
}

.fade-wait-enter {
  opacity: 0;
}

.fade-wait-enter.fade-wait-enter-active {
  opacity: 1;
  /* Delay the enter animation until the leave completes */
  transition: opacity .3s ease-in .5s;
}

.fade-wait-height {
  transition: height .3s ease-in-out;
}

